<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - TodoListApp</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <a href="@Url.Action("Index", "Todo")">Home</a>
    </div
